<hr>
<app-nav-menu-employee></app-nav-menu-employee>

<!-- agregar-empleado.component.html -->


<div class="container">
  <h2 class="my-4">Agregar Empleado</h2>
  <form (ngSubmit)="agregarEmpleado()" #empleadoForm="ngForm" class="mb-4 p-4 border rounded bg-light">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="nuevoEmpleado.nombre" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" name="apellido" [(ngModel)]="nuevoEmpleado.apellido" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Empleado</button>
  </form>
</div>


